<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>

<h1>All Posts</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Hits</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articles}">
        <td th:text="${article.id}"></td>
        <td>
            <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.title}"></a>
        </td>
        <td th:text="${article.author}"></td>
        <td th:text="${article.nowDate}"></td>
        <td th:text="${article.hit}"></td>
    </tr>
    </tbody>
</table>


<a th:href="@{/articles/form}" class="button-link">Create New Article</a>

<form th:action="@{/logout}" method="get" style="margin-top: 40px;">
    <button type="submit">Logout</button>
</form>

</body>
</html>
