<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<h1>Login</h1>

<div th:if="${param.error}">
  <p style="color:red;">Invalid ID or password.</p>
</div>

<form action="/login" method="post" th:object="${loginForm}">
  <label for="loginId">ID:</label>
  <input type="text" id="loginId" th:field="*{loginId}" required><br>
  <div th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" style="color:red;"></div>

  <label for="loginPw">Password:</label>
  <input type="password" id="loginPw" th:field="*{loginPw}" required><br>
  <div th:if="${#fields.hasErrors('loginPw')}" th:errors="*{loginPw}" style="color:red;"></div>

  <button type="submit">Login</button>
</form>

<a th:href="@{/signup}">Go to Sign Up</a>
</body>
</html>
