<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" th:href="@{/css/list.css}">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap" rel="stylesheet">

</head>
<body>

<div class="container">
  <h1 class="post-title">Sign Up</h1>

  <div th:if="${param.error}" class="warning">
    ID already exists or invalid input.
  </div>

  <form action="/signup" method="post" th:object="${memberForm}" class="form-box">
    <label for="loginId">ID:</label>
    <input type="text" id="loginId" th:field="*{loginId}" required>
    <div th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="error-text"></div>

    <label for="loginPw">Password:</label>
    <input type="password" id="loginPw" th:field="*{loginPw}" required>
    <div th:if="${#fields.hasErrors('loginPw')}" th:errors="*{loginPw}" class="error-text"></div>

    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-text"></div>

    <button type="submit">Sign Up</button>
  </form>

  <a th:href="@{/login}" class="button-link back">Go to Login</a>
</div>

</body>
</html>
